* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 10px 0;
    background-color: #090e22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    gap: 50px;
}

.container {
    min-width: 400px;
    min-height: 400px;
    background-color: #1d1e33;
    padding: 2rem;
}

.container h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0.3rem;
    color: #ccc;
}

.form-control input {
    padding: 0.5rem 0.5rem;
}

.action-control {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

#link-download, #excel-file {
    display: none;
}

label[for="excel-file"] {
    text-transform: uppercase;
    font-size: .8rem;
    position: relative;
    width: 48%;
    height: 50px;
    border-radius: 10px;
    background-color: #2778c4;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: transform .2s ease-out;
}

label[for="excel-file"]:hover {
    background-color: #3f92e0;
}

.file-name {
    left: 280px;
    font-size: 0.85rem;
    color: #ccc;
    width: 100%;
}

.action-control button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    flex-grow: 1;
}

.action-control button img {
    width: 15px;
    height: 15px;
}

.action-control button#convert {
    background-color: #f44236;
}

.action-control button#download {
    background-color: green;
}

.action-control button:not(.disabled) {
    cursor: pointer;
    opacity: 0.8;
}

.action-control button:not(.disabled):hover {
    opacity: 1;
}

.action-control button.disabled {
    opacity: 0.5;
}

.required label::after {
    content: ' *';
    color: red;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}